* {margin:0px;}
h1{margin:0 auto; text-align: center;}
.wrap {font-size: 14px; font-family: "微软雅黑"; width:70%; border-collapse:collapse; text-align:center; margin: 100px auto; }
.wrap td,th {border: 2px solid black}
.process {font-size: 14px; font-family: "微软雅黑"; width:70%; border-collapse:collapse; text-align:center; margin: 10px auto; }
.process td,th {border: 2px solid black}

.inner{margin-left: 100px;}
button{line-height: 14px; margin-left: 40px;}
.reved{color: red}