    <div th:fragment="header">
        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="/" class="logo">
                 <span class="logo-mini"><b>有道</b></span>
                <!-- logo for regular state and mobile devices   <span >彩蛋</span>-->
                <img src="dist/img/youdaologo3.png" alt="logo Image">
                <span style="font-size: medium">彩蛋投放系统</span>

            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <!-- 278*50-->
                <div class="navbar-custom-menu"  >
                      <ul class="nav navbar-nav">



                          <li><a href="/login">退出</a></li>


                      </ul>
              </div>

            </nav>
        </header>
    </div>

