<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="/static/img/favicon.png" />
<meta name="author" content="Unknown" />
<meta name="description" content="Beego sample app - Web IM" />
<meta name="keywords" content="Go, golang, beego, sample, Web IM">


<script src="/static/js/jquery-1.10.1.min.js"></script>
{{if .IsWel}}
<link href="/static/css/wel.css" rel="stylesheet" />
<script src="/static/js/wel.js"></script>
{{end}}
{{if .IsInfo}}
<link href="/static/css/info.css" rel="stylesheet" />
<script src="/static/js/info.js"></script>
{{end}}
{{if .IsRev}}
<link href="/static/css/review.css" rel="stylesheet" />
<script src="/static/js/review.js"></script>
{{end}}
{{if .IsWel2}}
<link href="/static/css/wel.css" rel="stylesheet" />
<script src="/static/js/wel2.js"></script>
{{end}}
{{if .IsInfo2}}
<link href="/static/css/info2.css" rel="stylesheet" />
<script src="/static/js/info2.js"></script>
{{end}}
{{if .IsResult}}
<link href="/static/css/result.css" rel="stylesheet" />
<script src="/static/js/result.js"></script>
{{end}}
